<div   style="display: flex; flex-direction: row; min-height: 66vh">
  <div  style="flex:1; margin-left: 15vw; margin-top: 5vh; padding-right: 5vw">
    <h2 style="">HAFTUNGSAUSSCHLUSS</h2>
    <article>GARGER Investment GmbH übernimmt keine Haftung für die
Inhalte der auf dieser Website über Hyperlinks zugänglichen
Websites Dritter.</article><br/>
     <article>Die Verwendung der auf dieser Website gespeicherten
Inhalte bedarf der vorherigen Zustimmung von
GARGER Investment GmbH. Wir weisen darauf hin, dass
Informationen auf dieser Site technische Ungenauigkeiten
oder typografische Fehler enthalten sein können.</article><br/>
    <article>Wir behalten uns vor, die Informationen auf dieser Site
jederzeit und ohne vorherige Ankündigung zu ändern
oder zu aktualisieren. Alle auf unseren Internetseiten
veröffentlichten Werke bzw. Werkteile wie z.B. Texte,
Dateien, Kompositionen und Bilder sind rechtlich geschützt.
Jede weitere Veröffentlichung, Vervielfältigung, Verbreitung
oder sonstige Nutzung - auch auszugsweise - bedarf der
schriftlichen Genehmigung von GARGER Investment GmbH.</article>
  </div>
  <div style="flex:2" class="gsphaftungsausschluss"></div>
</div>
