.gsphaftungsausschluss {
  background-image: url("../../assets/images/bilder/impressum.jpg");
  background-size: cover;
  overflow: hidden;
  height: 73vh;
}
a, label {
  text-decoration: none;
  padding-right: 20px;
}
