<div   style="display: flex; flex-direction: column;" >
  <div  class="gspbeigebackground">
    <div style="display: flex; flex-direction: row;">
      <div style="flex:1;">
        <div  style="display: flex; flex-direction: column;margin-right: 10vw; margin-left: 10vw ">
          <h3 style="margin-top: 5vh">INVESTMENTGRUNDSÄTZE</h3>
            <h4>PERSÖNLICHE DIENSTLEISTUNGEN</h4>
          <ul>
            <li>Gastronomie, Hotelerie und Beherbergung</li>
            <li>Gesundheitsbereich, Lifestyle, Freizeit, Entertainment</li>
            <li>Lebensmittel (sofern innovative Spezialprodukte)</li>
            <li>Textilien (sofern innovative Spezialprodukte)</li>
          </ul>

        </div>
      </div>
      <div style="flex:1" class="gspvisionrow4"></div>
    </div>
  </div>
</div>
