<div style="display: flex; flex-direction: column; margin-bottom: 3vh">
  <div style=" margin-right: 10vw; margin-left: 10vw;">
    <h2>GARGER INVESTMENT GMBH</h2>
    <div>
      Die GARGER Investment GmbH beteiligt sich an kleinen und mittelständischen Unternehmen in Österreich. Dabei suchen wir nicht nur nach
  einer passiven Beteiligung, sondern wollen durch unsere Erfahrung zum Erfolg des Unternehmens beitragen. Wir stehen für langfristige
  Verantwortung.
    </div>
    <address style="margin-top: 3vh">
      Adresse: Biberstraße 22, A-1010 Wien<br>
      Telefon: +43-1-319 94 70,<br>
      Email: <a href="mailto:office@gargerinvest.at">office(AT)gargerinvest.at </a><br>
      Webseite: <a href="https://www.gargerinvest.at">https://www.gargerinvest.at </a>
    </address>
  </div>
  <div class="gspbeigebackground" style="margin-top:3vh">
    <div style=" margin-right: 10vw; margin-left: 10vw; ">
      <h2 >{{'ANFAHRT' | translate | uppercase}} </h2>
      <div >
        <div style="zoom:66%">
          <img src="../../assets/images/plan_kontakt.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
