<div class="gspbeigebackground" style="display: flex; flex-direction: column;">
    <div   style=" margin-right: 10vw; margin-left: 10vw;  margin-top: 5vh">
      <div>
        <h2>GARGER INVESTMENT GMBH</h2>
        <div>
          Die GARGER Investment GmbH beteiligt sich an kleinen und mittelständischen Unternehmen in Österreich. Dabei suchen wir nicht nur nach
      einer passiven Beteiligung, sondern wollen durch unsere Erfahrung zum Erfolg des Unternehmens beitragen. Wir stehen für langfristige
      Verantwortung.
        </div>
        <address style="margin-top: 3vh">
          Adresse: Biberstraße 22, A-1010 Wien<br>
            <a href="tel:+4313199470" style="text-decoration: none">Telefon: +43-1-319 94 70,</a>
          <br>
          Email: <a href="mailto:office@gargerinvest.at">office(AT)gargerinvest.at </a><br>
          Webseite: <a href="https://www.gargerinvest.at">https://www.gargerinvest.at </a>
        </address>
      </div>
      <div style="margin-top:3vh; margin-bottom: 3vh">
        <div >
          <h2 >{{'ANFAHRT' | translate | uppercase}} </h2>
           <div  style="margin-top:3vh">
            Unsere Kanzlei befindet sich im 1. Wiener Gemeindebezirk in der Nähe des Schweden Platz.
            Sie erreichen uns mit dem Auto oder mit den öffentlichen Verkehrsmitteln.
            Straßenbahn: Linie 1/2, U-Bahn: U4/U1 - Station ‚Schwedenplatz‘
          </div>

        </div>
      </div>

    </div>
</div>
<div style=" max-width: 100vw" >
              <img style="width: 100%"  src="../../assets/images/plan_kontakt.jpg">
          </div>
