<div   style="display: flex; flex-direction: column;">
  <div  class="gspbeigebackground" style="height: 72vh">
    <div style="display: flex; flex-direction: row;">
      <div style="flex:1;">
        <div  style="display: flex; flex-direction: column;margin-right: 10vw; margin-left: 10vw ">
          <h2 style="margin-top: 5vh" class="headline">MMag. Dr. BERNHARD GARGER</h2>
          <h3>CURRICULUM VITAE</h3>
          <ul style="margin-top: 0">
            <li>Studium der Rechtswissenschaften und der Betriebswirtschaft</li>
            <li>Studium Hochschule St. Gallen (Schweiz)</li>
            <li>Rechtsanwalts- und Steuerausbildung</li>
            <li>Selbständiger Rechtsanwalt in Wien</li>
          </ul>

          <h3>BERUFSERFAHRUNG</h3>
          <ul style="margin-top: 0">
            <li>Laufende Betreuung von Unternehmenstransaktionen und -akquisitionen aus diversen Branchen</li>
            <li>Konzerninterne und -externe Umstrukturierungen und Umgründungen</li>
            <li>Restrukturierung von Unternehmen aus verschiedenen Branchen</li>
          </ul>

        </div>
      </div>
      <div style="flex:1;  margin-top: 7vh; margin-bottom: 7vh" >
        <img style="width: 50%;" src="../../assets/images/bilder/bgarger_rund.png">
      </div>
    </div>

  </div>
</div>
