<div   style="display: flex; flex-direction: column;" >
  <div  class="gspbeigebackground">
    <div style="display: flex; flex-direction: row;">
      <div style="flex:1;">
        <div  style="display: flex; flex-direction: column;margin-right: 10vw; margin-left: 10vw ">
          <h3 style="margin-top: 5vh">INVESTMENTGRUNDSÄTZE</h3>
            <h4>INFRASTRUKTURTECHNOLOGIEN</h4>
          <ul>
            <li>Verkehrstechnik, Fahrzeugbau und Zulieferindustrie</li>
            <li>Energietechnik (insb. alternative Energieformen)</li>
            <li>Informations- und Kommunikationstechnologie</li>
            <li>Energie und Verkehr</li>
            <li>Wasserwirtschaft, Umwelttechnologie</li>
            <li>Recycling und Müllentsorgung</li>
          </ul>

        </div>
      </div>
      <div style="flex:1" class="gspvisionrow4"></div>
    </div>
  </div>
</div>
