@import "../app.component.less";

:host {
  display: block;
  height: auto;
  min-height: 100%;
  max-height: none;
  overflow: visible;
}

.financing-exclusions {
  display: flex;
  flex-direction: column;
  margin-top: -1vh;
  margin-left: 5vw;
}






@media screen and (min-width: 501px) {

  .gspvisionrow2 {
    background-image: url("../../assets/images/bilder/ueberuns_01.jpg");
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    width: 50%;
  }


  .gspvisionrow3 {
    background-image: url("../../assets/images/bilder/ueberuns_02.jpg");
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .gspvisionrow2,
  .gspvisionrow3 {
    display: none;
  }

  .financing-exclusions {
    margin-right: 10vw;
    margin-left: 10vw;
  }
}
