@import "../app.component.less";



.gspvisionrow2 {
  background-image: url("../../assets/images/bilder/ueberuns_01.jpg");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  min-height: 50vh;
  min-width: 50%;
}

.gspvisionrow3 {
  background-image: url("../../assets/images/bilder/ueberuns_02.jpg");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  padding-top: 0;
  min-height: 50vh;
  min-width: 50%;
}


.gspvisionrow4 {
  background-image: url("../../assets/images/bilder/kompass.jpg");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  padding-top: 0;
  min-height: 50vh;
  min-width: 100%;
}

