<div   style="display: flex; flex-direction: column;" >
  <div style="display: flex; flex-direction: column; margin-right: 10vw; margin-left: 10vw; margin-bottom: 3vh">
    <h2>VISION</h2>
    <div>
      Die GARGER Investment GmbH beteiligt sich an kleinen und mittelständischen Unternehmen in Österreich. Dabei suchen wir nicht nur nach
  einer passiven Beteiligung, sondern wollen durch unsere Erfahrung zum Erfolg des Unternehmens beitragen. Wir stehen für langfristige
  Verantwortung.
    </div>
  </div>
  <div  class="gspbeigebackground">
    <div style="display: flex; flex-direction: row;">
      <div style="flex:1;">
        <div  style="display: flex; flex-direction: column;margin-right: 10vw; margin-left: 10vw ">
          <h2 style="margin-top: 5vh">INVESTMENTGRUNDSÄTZE</h2>
          <h3>BRANCHEN</h3>
          <ul style="margin-top: 0">
            <li>Produktionstechnologien</li>
            <li>Persönliche Dienstleistungen</li>
            <li>Infrastrukturtechnologien</li>
          </ul>

          <h3>BETEILIGUNGSKAPITAL</h3>
          <ul style="margin-top: 0">
            <li>Eigenkapital € 750.000 - 1 Mio.</li>
            <li>Restliche Kaufpreisfinanzierung mit sonstigen Partnern und Fremdkapital durch Kreditinstitute</li>
          </ul>

          <h3>IDEALTYPISCHES TARGET</h3>
          <ul style="margin-top: 0">
            <li>Umsatz zwischen € 5 Mio. und 10 Mio.</li>
            <li>Mittelständisches Unternehmen aus Hotellerie, Gewerbe und Industrie</li>
            <li>sanierungsbedürftige Unternehmen</li>
            <li>Start-up-Unternehmen</li>
          </ul>
        </div>
      </div>
      <div style="flex:1" class="gspvisionrow2"></div>
    </div>
    <div style="display: flex; flex-direction: row;">
    <div style="flex:1" class="gspvisionrow3"></div>
    <div style="flex:1;">
      <div  style="display: flex; flex-direction: column;  margin-left: 5vw; ">
      <h2 style="margin-top: 5vh">FINANZIERUNGSAUSSCHLÜSSE</h2>
      <h3>BRANCHENAUSSCHLÜSSE</h3>
      <ul style="margin-top: 0">
        <li>Immobilien</li>
        <li>Forschungsintensive High Tech-Unternehmen (mit dem Ausstieg der alten Gesellschafter oder einzelner Schlüsselarbeitskräfte geht das überwiegende Know-how verloren)</li>
        <li>Branchen mit hohen Haftungen aus Gewährleistung und Schadenersatz aus dem operativen Geschäft</li>
      </ul>

      <h3>STRUKTURELLE FINANZIERUNGSAUSSCHLÜSSE</h3>
      <ul style="margin-top: 0">
        <li>Unfreundliche Firmenübernahmen ohne Einbindung der 2. Managementebene</li>
        <li>Zahlung eines überhöhten Kaufpreises, um unbedingt den Zuschlag zu erhalten</li>
        <li>Bloße Kofinanzierung als Junior Partner ohne persönlichen Arbeitseinsatz</li>
      </ul>

      <h3>UNTERNEHMENSBEZOGENE FINANZIERUNGSAUSSCHLÜSSE</h3>
      <ul style="margin-top: 0">
        <li>Vertriebs- und Kundenstruktur personell zu stark auf die ausscheidenden Altgesellschafter (bisherige Inhaber) konzentriert</li>
        <li>Stark forschungs- und marketingintensive Unternehmen</li>
      </ul>
    </div>
    </div>

  </div>
  </div>
  <div  style="display: flex; flex-direction: row;  margin-right: 10vw; margin-left: 10vw" >
    <h2 style="flex: 1; padding-left: 10vw">INVESTMENTGRUNDSATZ</h2>
    <div style="flex: 1;">
      <h3>PRODUKTIONSTECHNOLOGIEN</h3>
      <ul>
        <li>Maschinen- und Fahrzeugbau</li>
        <li>Metall- und Kunststoffindustrie</li>
        <li>Automationstechnik, Mess- und Regeltechnik</li>
        <li>Elektrotechnik und Elektronik</li>
        <li>Werkstofftechnologie</li>
      </ul>
    </div>
  </div>
  <div class="gspvisionrow4">
  </div>
</div>
