<div   style="margin-top: 3vh" >
  <div style="display: flex; flex-direction: column; margin-left: 10vw; margin-bottom: 3vh">
    <h3 style="flex: 1;">INVESTMENTGRUNDSATZ</h3>
    <div style="flex: 1;">
      <h4>PRODUKTIONSTECHNOLOGIEN</h4>
      <ul>
        <li>Maschinen- und Fahrzeugbau</li>
        <li>Metall- und Kunststoffindustrie</li>
        <li>Automationstechnik, Mess- und Regeltechnik</li>
        <li>Elektrotechnik und Elektronik</li>
        <li>Werkstofftechnologie</li>
      </ul>
    </div>
  </div>
  <div class="gspvisionrow4">
  </div>
</div>
