<div   style="display: flex; flex-direction: row; min-height: 66vh">
  <div  style="flex:1; margin-left: 15vw; margin-top: 5vh">
    <h2 style="">IMPRESSUM</h2>
    GARGER Investment GmbH<br/>
Biberstraße 22, A-1010 Wien<br/>
     <a href="tel:+4313199470" style="text-decoration: none">Tel: +43-1-319 94 70,</a><br/>
   <a href="tel:+431319947070" style="text-decoration: none">Fax: +43-1-319 94 70-70</a><br/>
      <a href="mailto:office@gargerinvest.at">office(AT)gargerinvest.at </a><br>
      <a href="https://www.gargerinvest.at">https://www.gargerinvest.at </a><br>
      <div class="specialcolor">FN 325373s<br/>
        RA: P131287<br/>
        UID: ATU 64902289<br/>
        DVR Nr.: 4000815<br/>
      </div>
      <br/>

      Design Website: Claudia Marschall<br/>
      <a href="mailto:office(AT)claudiamarschall.at">office(AT)claudiamarschall.at </a><br>
      <a href="https://www.gargerinvest.at">https://www.claudiamarschall.at </a><br><br/>

      Programmierung Herbert Blaschek<br/>
  </div>
  <div style="flex:1" class="gspimpressum"></div>
</div>
