<nav class="navbar navbar-default header" style="margin-bottom: 0;margin-left: 6vw">
  <div class="container-fluid header">
    <ul class="nav navbar-nav header" style="padding-left: 7vw">
      <li><a href="#/home" ><span [ngClass]="getClass('home')">HOME</span></a></li>
      <li> <a href="#/ueberuns"><span [ngClass]="getClass('ueberuns')">ÜBER UNS</span></a></li>
      <li > <a href="#/portrait"><span [ngClass]="getClass('portrait')">PORTRAIT</span></a></li>
      <li><a href="#/projekte"><span [ngClass]="getClass('projekte')">PROJEKTE</span></a></li>
      <li ><a href="#/kontakt"><span [ngClass]="getClass('kontakt')">KONTAKT</span></a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right" style="padding-right: 7vw">
       <li><a href="#/home"><img style="zoom: 40%" src="assets/images/bilder/gargerinvest_schriftzug.png"></a></li>
    </ul>
  </div>
</nav>

<!--
<div style="display: flex; justify-content: flex-start;padding-left: 10vw; padding-top: 13px; ">
    <a href="#/home">HOME</a>
    <a href="#/ueberuns">ÜBER UNS</a>
    <a href="#/portrait">PORTRAIT</a>
    <a href="#/projekte">PROJEKTE</a>
    <a href="#/kontakt">KONTAKT</a>
  <label style="margin-left: auto; padding-right: 5vw">
    GARGER INVESTMENT GMBH
  </label>
</div>
-->
