<nav class="navbar navbar-default header" style="margin-bottom: 0">
  <div class="container-fluid header">
    <ul class="nav navbar-nav header">
      <li><a href="#/home" ><span class="gspmenuitem">HOME</span></a></li>
      <li> <a href="#/ueberuns"><span class="gspmenuitem">ÜBER UNS</span></a></li>
      <li > <a href="#/portrait"><span class="gspmenuitem">PORTRAIT</span></a></li>
      <li><a href="#/projekte"><span class="gspmenuitem">PROJEKTE</span></a></li>
      <li ><a href="#/kontakt"><span class="gspmenuitem">KONTAKT</span></a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
       <li><a href="#/home"><span class="gspmenuitem">GARGER INVESTMENT GMBH</span></a></li>
    </ul>
  </div>
</nav>

<!--
<div style="display: flex; justify-content: flex-start;padding-left: 10vw; padding-top: 13px; ">
    <a href="#/home">HOME</a>
    <a href="#/ueberuns">ÜBER UNS</a>
    <a href="#/portrait">PORTRAIT</a>
    <a href="#/projekte">PROJEKTE</a>
    <a href="#/kontakt">KONTAKT</a>
  <label style="margin-left: auto; padding-right: 5vw">
    GARGER INVESTMENT GMBH
  </label>
</div>
-->
