<div style="margin-left: 15vw">
  <div class="lauftext" style="display: flex; flex-direction:  row; flex-wrap: wrap; padding-top: 20px">

    <address style="flex: 1">
      <strong>GARGER Investment  GmbH</strong><br>
      Biberstraße 22, A-1010 Wien<br>
      <a href="tel:+4313199470" style="text-decoration: none">Tel: +43-1-319 94 70</a><br/>
     <a href="tel:+431319947070" style="text-decoration: none">Fax: +43-1-319 94 70-70</a><br/>
      Email: <a href="mailto:office@gargerinvest.at">office(AT)gargerinvest.at </a>
    </address>
    <div style="display: flex; flex: 1; flex-direction: column;" >
      <a href="#/impressum" [ngClass]="getClass('impressum')">IMPRESSUM</a>
      <a href="#/haftungsausschluss" [ngClass]="getClass('haftungsausschluss')">HAFTUNGSAUSSCHLUSS</a>
      <a href="#/datenschutz" [ngClass]="getClass('datenschutz')">DATENSCHUTZ</a>
    </div>
  </div>
</div>

