<div style="display: flex; flex-direction: row; min-height: 120px; padding-top: 20px">
  <address>
    <strong>GARGER INVEST GmbH</strong><br>
    Biberstraße 22, A-1010 Wien<br>
    Tel: +43-1-319 94 70,
    Fax: +43-1-319 94 70-70<br/>
    Email: <a href="mailto:office@gargerinvest.at">office(AT)gargerinvest.at </a>
  </address>
  <div style="display: flex; flex-direction: column; padding-left: 100px;">
    <a href="#/download">DOWNLOAD FOLDER</a>
    <a href="#/impressum">IMPRESSUM</a>
    <a href="#/haftungsausschluss">HAFTUNGSAUSSCHLUSS</a>
    <a href="#/datenschutz">DATENSCHUTZ</a>
  </div>
</div>

