<div   style="display: flex; flex-direction: column;">
  <div  class="gspbeigebackground">
    <div style="display: flex; flex-direction: row;">
      <div style="flex:1;">
        <div  style="display: flex; flex-direction: column;margin-right: 10vw; margin-left: 10vw ">
          <h2 style="margin-top: 5vh">ENTERANGO</h2>
          <div>EnterAnGo erleichtert Firmen und Privaten planen von Geschäftreisen. Da uns die Idee und das Team überzeugt
            haben, hat die GARGER Investment GmbH sich an EnterAnGo beteiligt.</div>
          <div style="display: flex; flex-direction: column">
            <div style="margin-top: 30vh" >
              <img style="width: 100%" src="../../assets/images/bilder/enterango_logo.png"/>
            </div>

          </div>
          <div style="margin-top: 3vh" >
              <a href="https://www.enterango.com/">Zur Website von ENTERANGO ></a>
          </div>
        </div>

      </div>
       <div style="flex:1;">
         <div style=" display: flex; flex-direction: row; align-content:center; margin-top: 10vh">
           <div style="display: flex; flex-direction: column">
             <img style=" width: 100%" src="../../assets/images/bilder/enterango_arnold.png"/>
             <h3 style="margin-bottom: 0">PETER ARNOLD</h3>
             <div>Gründer & CEO</div>
           </div>
           <div style="display: flex; flex-direction: column; margin-left: 3vw">
             <img style=" width: 100%" src="../../assets/images/bilder/enterango_pichler.png"/>
             <h3 style="margin-bottom: 0">RICHARD PICHLER</h3>
              <div>Gründer & CTO</div>
          </div>
         </div>
       </div>
    </div>

  </div>
</div>
